<%-include("./partials/header.ejs")%>

<div class="h-screen w-screen bg-gray-400">
  <%-include("./partials/nav.ejs")%>
  <div class="flex">
    <div class="w-fit bg-black px-5 py-10 pr-20 text-white">
      <img
        class="h-20 w-20 rounded-full border-2 border-white ml-10"
        src="<%=user.avatar.url%>"
        alt=""
      />
      <h3 class="my-7 mb-10 ml-10"><%=user.username%></h3>
      <div class="flex items-center gap-2 my-10 mt-20">
        <img
          class="h-5"
          src="https://cdn-icons-png.flaticon.com/128/6066/6066733.png"
          alt=""
        />
        <a href="/user/resetpassword">Reset Password</a><br />
      </div>
      <div class="flex items-center gap-2 my-10">
        <img
          class="h-5"
          src="https://cdn-icons-png.flaticon.com/128/11121/11121550.png"
          alt=""
        />
        <a href="/user/update">Update User Details</a><br />
      </div>
      <div class="flex items-center gap-2 my-10">
        <img
          class="h-5"
          src="https://cdn-icons-png.flaticon.com/128/14723/14723973.png"
          alt=""
        />
        <a href="/user/deleteaccount">Delete account</a><br />
      </div>
      <div class="flex items-center gap-2 my-10 mt-20">
        <img
          class="h-5"
          src="https://cdn-icons-png.flaticon.com/128/10313/10313098.png"
          alt=""
        />
        <a href="/user/signout">Logout</a><br />
      </div>
    </div>
    <!-- <p class="object"><%=user%></p> -->
    <div class="w-3/4 px-20 py-10 text-center">
      <h1 class="font-bold text-3xl">User Profile</h1>
      <img
        class="h-36 w-36 object-cover rounded-full border-2 border-white mx-auto my-10"
        src="<%=user.avatar.url%>"        alt="no image"
      />
      <div
        class="w-fit flex gap-2 items-center border-2 border-gray-600 px-5 py-2 rounded mx-auto  rounded bg-gradient-to-r from-black to-gray-500 text-white"
      >
        <img
          class="h-10 w-10"
          src="https://cdn-icons-png.flaticon.com/128/17653/17653237.png"
          alt=""
        />
        <h3 class="font-semibold"><%=user.username%></h3>
      </div>

      <div class="flex justify-between items-center my-5 ">
        <div
          class="flex w-fit gap-2 items-center border-2 border-gray-600 px-5 py-1  rounded bg-gradient-to-r from-black to-gray-500 text-white"
        >
          <img
            class="h-10"
            src="https://cdn-icons-png.flaticon.com/128/8392/8392494.png"
            alt=""
          />
          <p class="font-semibold">
            Id <br />
            <%=user._id%>
          </p>
        </div>
        <div
          class="flex w-fit gap-2 items-center border-2 border-gray-600 px-12 py-1 rounded  rounded bg-gradient-to-r from-black to-gray-500 text-white"
        >
          <img
            class="h-10"
            src="https://cdn-icons-png.flaticon.com/128/5968/5968534.png"
            alt=""
          />
          <p class="font-semibold">
            Email <br />
            <%=user.email%>
          </p>
        </div>
      </div>
      <div class="flex justify-between items-center my-5">
        <div
          class="flex w-fit gap-2 items-center border-2 border-gray-600 px-7 py-1 rounded  rounded bg-gradient-to-r from-black to-gray-500 text-white"
        >
          <img
            class="h-10"
            src="https://cdn-icons-png.flaticon.com/128/17548/17548979.png"
            alt=""
          />
          <p class="font-semibold">
            Created at <br />
            <%=user.createdAt%>
          </p>
        </div>
        <div
          class="flex w-fit gap-2 items-center border-2 border-gray-600 py-1 px-5  rounded  rounded bg-gradient-to-r from-black to-gray-500 text-white"
        >
          <img
            class="h-10"
            src="https://cdn-icons-png.flaticon.com/128/16877/16877729.png"
            alt=""
          />
          <p class="font-semibold">
            Updated at <br />
            <%=user.updatedAt%>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include("./partials/footer.ejs")%>
