<%-include("./partials/header.ejs")%>
<div class="h-screen w-screen bg-gray-400" >

<%-include("./partials/nav.ejs")%>
<i class="menu ri-menu-3-line text-white absolute top-2 left-2 "></i>
<div class="flex justify-between ">

    <div class="sidebar hidden   transition-transform w-fit bg-black  px-5 py-10 pr-20 text-white ">
      <img
        class="h-20 w-20 ml-10"
        src="https://cdn-icons-png.flaticon.com/256/4982/4982416.png"
        alt=""
      />
      <h3 class="my-7 mb-10 ml-10">Hello ,<%=user.username%>!</h3>
      <div class="flex items-center gap-2 my-10 mt-20">
        <img
          class="h-5"
          src="https://cdn-icons-png.flaticon.com/128/6066/6066733.png"
          alt=""
        />
        <a href="/user/resetpassword">Reset Password</a><br />
      </div>
      <div class="flex items-center gap-2 my-10">
        <img
          class="h-5"
          src="https://cdn-icons-png.flaticon.com/128/11121/11121550.png"
          alt=""
        />
        <a href="/user/update">Update User Details</a><br />
      </div>
      <div class="flex items-center gap-2 my-10">
        <img
          class="h-5"
          src="https://cdn-icons-png.flaticon.com/128/14723/14723973.png"
          alt=""
        />
        <a href="/user/deleteaccount">Delete account</a><br />
      </div>
      <div class="flex items-center gap-2 my-10 mt-20">
        <img
          class="h-5"
          src="https://cdn-icons-png.flaticon.com/128/10313/10313098.png"
          alt=""
        />
        <a href="/user/signout">Logout</a><br />
      </div>
    </div>


<div class="mx-5 pr-32">

<h1 class="text-3xl font-semibold  my-5">Welcome, <%=user.username%>!</h1>
<img class="h-56 " src="https://static.vecteezy.com/system/resources/thumbnails/009/384/393/small_2x/credit-card-clipart-design-illustration-free-png.png" alt="">
</div>
<div class="">
<h1 class="text-2xl  my-5">Here's Your Expenses</h1>

<ul>
    
        <%user.expenses.forEach((elem)=>{%>
    <li>
        <div class="px-5 mx-10 flex text-white justify-between py-2 bg-black my-5 opacity-70 rounded-md shadow shadow-white">
       <p> <%=elem.title%> </p>
    <a class="ml-36 bg-blue-300 rounded px-5 py-1 " href="/expense/details/<%=elem.id%>">details</a>
</div>
</li>
    <%})%>

</ul>

</div>

</div>
</div>

<script>
    const menu=document.querySelector(".menu")
    const sidebar=document.querySelector(".sidebar")

    menu.addEventListener("click",(e)=>{
      console.log(e);
      
      sidebar.style.display="inline";
    })
</script>
<%-include("./partials/footer.ejs")%>
