<%-include("./partials/header.ejs")%>
<div class=" w-screen bg-gray-400">
<%-include("./partials/nav.ejs")%>
<div class="flex w-full">

    <div class="sidebar  transition-transform w-3/12 bg-gray-200  px-5 py-10 pr-20  ">
        <img
          class="h-20 w-20 ml-10"
          src="https://cdn-icons-png.flaticon.com/256/4982/4982416.png"
          alt=""
        />
        <h3 class="my-7 mb-10 ml-10">Hello ,<%=user.username%>!</h3>
        <div class="flex items-center gap-2 my-10 mt-20">
          <img
            class="h-5"
            src="https://cdn-icons-png.flaticon.com/128/6066/6066733.png"
            alt=""
          />
          <a href="/user/resetpassword">Reset Password</a><br />
        </div>
        <div class="flex items-center gap-2 my-10">
          <img
            class="h-5"
            src="https://cdn-icons-png.flaticon.com/128/11121/11121550.png"
            alt=""
          />
          <a href="/user/update">Update User Details</a><br />
        </div>
        <div class="flex items-center gap-2 my-10">
          <img
            class="h-5"
            src="https://cdn-icons-png.flaticon.com/128/14723/14723973.png"
            alt=""
          />
          <a href="/user/deleteaccount">Delete account</a><br />
        </div>
        <div class="flex items-center gap-2 my-10 mt-20">
          <img
            class="h-5"
            src="https://cdn-icons-png.flaticon.com/128/10313/10313098.png"
            alt=""
          />
          <a href="/user/signout">Logout</a><br />
        </div>
      </div>

<form  class="w-3/4 px-28 py-10 rounded shadow opacity-80 bg-white text-center" action="/expense/update/<%= expenseEdit._id%>" method="post">
    <input class="w-3/4 border-2 border-gray-600 rounded-full px-5 py-2 my-3" type="text" name="title" placeholder="Title" value="<%=expenseEdit.title%>">
    <input class="w-3/4 border-2 border-gray-600 rounded-full px-5 py-2 my-3" type="number" name="amount" placeholder="Amount" value="<%=expenseEdit.amount%>">
    <input class="w-3/4 border-2 border-gray-600 rounded-full px-5 py-2 my-3" type="text" name="category" placeholder="Category" value="<%=expenseEdit.category%>">
    <input class="w-3/4 border-2 border-gray-600 rounded-full px-5 py-2 my-3" type="text" name="remark" placeholder="Remark" value="<%=expenseEdit.remark%>">
    <select class="w-3/4 border-2 border-gray-600 rounded-full px-5 py-2 my-3" type="text" name="paymentmode" placeholder="Payment Mode" value="<%=expenseEdit.paymentmode%>">
      <option value="" disabled selected>Select Payment Mode</option>
      <option value="Cash">Cash</option>
      <option value="UPI">UPI</option>
      <option value="Cheque">Cheque</option>
      <option value="Card">Card</option>
    </select>
    <button class="bg-gradient-to-r from-blue-400 to-blue-600 text-white px-20 py-3 rounded-full mt-10">Update Bill's Details</button>
</form>
</div>
</div>
<%-include("./partials/footer.ejs")%>
